@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal; 
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

body{
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
}
header{
    background-color: #32da67;
    text-align: center;
    font: 20px Helverica, sans-serif;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
}
nav{
    text-align: left;
}

main{
    
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
}

article{
    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px; 
}