@charset "UTF-8";

body{
    background-color: rgb(114, 242, 140);
}

h1{
    color: rgb(10, 87, 7);
}

h1#principal{
    text-align: center;
    background-color: rgb(48, 102, 50);
    color: white
}

h2{
    color: rgb(80, 170, 98);
}

.basico{
    color: #0d8a09;
}

.intermediario{
    color: #7f8809;
}

.avancado{
    color: #990808;
}