@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #F2B138, #F2A03D);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #926c2463;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #D9593D;
    text-align: center;
    text-shadow: 1px 1px 0px #b98729d3;
}

h2{
    color: #34B1BF;
}
p{
    text-align: justify;
}