@charset "UTF-8";
/*Importando fonte diretamente do google*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Importando fonte internamente depois de baixar*/
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal; 
}

/*Uso de variaveis em CSS, para as paletas de cores e as fontes*/
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/*Variavel globoal*/
*{
    margin: 0px;
    padding: 0px;
}

/*Corpo do site com a primeira variavel de cor e usando a fonte padrão nos textos*/
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo:after{
    content: '\00A0\1F517';
}
/*Titulo do site usando a quarta cor do site e alinhando o texto no meio*/
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

/*Editando exclusivamente o título principal com cor do texto e uma fonte para destacar*/
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}
/*Editando exclusivamente o paragrafo abaixo do título,só com cor da fonte*/
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
}
/*Lista de navegação na lateral do texto só usando a variavel da quinta cor da paleta*/
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.384);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

/*O conteudo principal com a cor branca como predominante no site inteiro abaixo do título*/
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*O h1 usando a quinta cor da variavel no texto e usando a variavel de fonte do android*/
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
/*O h2 só vai usar a variavel fonte-android*/
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.33em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.039em;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);
    background-color: var(--cor1);
    border-radius: 0.380ex 0.380ex;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color:var(--cor4)
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    line-height: 5ch;
    text-indent: 0.400em;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

/*Os creditos do site vai usar a quinta variavel de cor no fundo e a cor da fonte será branco*/
footer{
    background-color: var(--cor5);
    color: white;    
    font-size: 0.8em;
    padding: 5px;
}

footer > p{
    text-align: center;
    line-height: 2em;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}