/*Estilos gerais para as caixas de cor*/
div {
    width: 250px;
    height: 120px;
    padding: 15px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0,1);
}
/* Cor vermelha */
.cor-vermelha {
    background-color: rgb(255, 0, 0);
    color: white;
}

/*Cor Preta*/
.cor-preta {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid #333;
};

/*Cor branca*/
.cor-branca{
    background-color: rgb(255,255,255);
    color: black;
    border: 2px solid #ccc;
}

/*Exemplo de cor personalizada*/
.cor-personalizada{
    background-color: rgb(100, 200, 50);
    color: white
}