body{
    background-image: linear-gradient(to left, #5B7347, #90AB6A, #AFCF95);
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(24, 97, 126);
    font-size: 2em;
}
h2{
    font: italic bold 1.5em Arial, Helverica, sans-serif;    
    color: rgb(16, 89, 107);
    /*color: #10596b;*/
    /*color: hsl(192, 74%, 24%);*/
}
h3{
    background-color: rgba(0, 0, 139, 0.5);
    color:hsl(0, 0%, 100%, 0.500)
}
p{
    font-family: 'Courier New', Courier, monospace;
}